// @author : Pierre Lovenfosse
// @contributors : -
/*===================================================================================*/
/*  Base | Images | Partial
/*===================================================================================*/

img{
  height                 : auto;
  max-width              : 100%;
  display                : inline-block;
  vertical-align         : middle;
  -ms-interpolation-mode : bicubic;
}
