@mixin add-underline($color: colors("primary"), $size: 1px){
  position: relative;

  &::after{
    content: "";
    display: block;
    height: $size;
    width: 100%;
    position: absolute;
    bottom: -1rem;
    left: 0;
    background-color: $color;
  }
}
